page-production-line-details {
    
    ion-content {
        .page-title, .page-content {
            color: #00889D;
        }

        .page-title {
            font-size: 20px;
            font-weight: 700;
        }

        .page-content {
            font-size: 16px;
            line-height: 20px;
        }

        .mg-bottom-25px {
            margin-bottom: 25px;
        }
    }
}