<!-- Generated template for the LoaderItemComponent component -->
<div class="loader-wrapper" style="width: 100%; height: 75px;" *ngIf="loading">
    <ul class="cssload-cssload-ballsncups">
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <!--
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        <li>
          <div class="cssload-circle"></div>
          <div class="cssload-ball"></div>
        </li>
        -->
      </ul>
</div>
