page-configuracao {

    ion-content {

        * {
            color: #00889D;
        }

        .checkbox-icon {
            border-color: #00889D !important; 
        }
        .checkbox-checked, .button-effect {
            background-color: #00889D !important;
        }

    }
}
