<!--
  Generated template for the ProductionLineOcurrencyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Ocorrências </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  
  
  <div class="page-title">Lore Ipsum Dolor</div>
  
  <p class="page-content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita esse enim aperiam corporis dolorum quibusdam aliquam ex! Recusandae optio facilis rem maxime voluptatum eius officiis, nobis accusamus blanditiis, tenetur placeat.
  </p>

  <loader-item [loading]="loadingData"></loader-item>

  <div [hidden]="loadingData" class="loader-content">
  
    <div *ngIf="OcurrencyData" class="ct-table">
      <table>

        <tr>
          <th>Equipamento</th>
          <th>H. Início</th>
          <th>H. Fim</th>
          <th>Descrição</th>
        </tr>

        <tr *ngFor="let ocurrency of OcurrencyData?.data">
          <td>{{ ocurrency.equipment }}</td>
          <td>{{ ocurrency.start }}</td>
          <td>{{ ocurrency.end }}</td>
          <td>{{ ocurrency.description }}</td>
        </tr>

      </table>
    </div>

  </div>
</ion-content>
