page-production-line-report {
    ion-content {
        .page-title, .page-content {
            color: #00889D;
        }

        .page-title {
            font-size: 20px;
            font-weight: 700;
        }

        .page-content {
            font-size: 16px;
            line-height: 20px;
        }

        .ct-table, .ct-table table {
            width: 100%;
        }
        
        .ct-table table tr td {
            border: 1px solid gray;
            color: #00889D;
            padding: 5px 0;
        }

        .ct-table table tr th {
            background-color: #00889D;
            border-color: #00889D;
            color: white;
        }

        .ct-table table tr:nth-child(odd) {
            background-color: rgba(0,150,214,0.2);
            color: gray;
        }

        .ct-table table tr td {
            text-align: center;
        }


        .time-select ion-item {
            width: 50%;
            padding-right: 5px;
        }

        .time-select ion-item:last-child {
            padding-right: 0px;
            padding-left: 5px;
        }

    }

}
