page-production-line-report {
    ion-content {
        .page-title, .page-content, .time-select ion-label, .time-select ion-label, .time-select ion-datetime {
            color: #00889D !important;
        }

        .page-title {
            font-size: 20px;
            font-weight: 700;
        }

        .page-content {
            font-size: 16px;
            line-height: 20px;
        }

        .ct-table, .ct-table table {
            width: 100%;
        }

        .p-right-5px {
            padding-right: 5px;
            padding-left: 0px;
        }        

        .p-left-5px {
            padding-left: 5px;
            padding-right: 0px;
        }

        .ct-table table tr td {
            border: 1px solid gray;
            color: #00889D;
            padding: 5px 0;
        }

        .ct-table table tr th {
            background-color: #00889D;
            border-color: #00889D;
            color: white;
        }

        .ct-table table tr:nth-child(odd) {
            background-color: rgba(0,150,214,0.2);
            color: gray;
        }

        .ct-table table tr td {
            text-align: center;
        }

        .time-select ion-grid ion-row {
            padding: 0 15px;
        }

        .time-select * {
            font-size: 14px;
        }
        
        .time-select ion-label {
            margin-bottom: initial;
            margin-top: initial;
            font-weight: 700;
        }

        .time-select ion-datetime * {
            text-align: center;
        }
        
        .time-select .item-inner {
            background-color: rgba(0,150,214,0.125);
            margin-right: initial;
            border-radius: 6px;
        }

        .item-ios.item-block .item-inner {
            border-bottom: initial;
        }

        .time-select ion-datetime, .time-select ion-item,  .time-select ion-datetime * {
            // display: inline-block !important;
            max-height: 25px !important;
        }

        .time-select ion-item {
            width: 50%;
        }


        .time-select .bt-custom-report {
            width: 100%;
            padding: 0px 0;
            background: #00889D;
        }

    }

}
