page-production-line {

    ion-nav {
        ion-button{
            background-color: none;
        }
    }

    ion-content {
        .page-title, .page-content {
            color: #00889D;
        }

        .page-title {
            font-size: 20px;
            font-weight: 700;
        }

        .page-content {
            font-size: 16px;
            line-height: 20px;
        }

    }

}
